#  B4 - COMPUTER NUMERICAL ANALYSIS
#      -----------------------
#           TRADE PROJECT
#
# Repository:
# https://github.com/sheiiva/CNA_trade
#
# (05/19/2020)
# Authors:  Corentin COUTRET-ROZET  <corentin.rozet@epitech.eu>
#           Patricia Monfa-Matas    <patricia.monfa-matas@epitech.eu>
#


# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode
Cmake*
cmake*
vgcore*
*.html

##### TRADE ####

### Binaries
trade
### AI-BOT
ai-bot
installation/
node_modules

# PYTHON
.coverage
.pytest_cache
*__pycache__*

#
*tmp*